*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Dark-Gray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: .9375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    display: grid;
    min-height: 100%;   
}

h1,
h2 {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: inherit;
}

header {
    background: url("./images/mobile/image-hero.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-header,
.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.navigation {
    position: absolute;
    inset: 0;
    background-color: var(--Black);
    color: var(--White);
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    transform: translateX(200%);
    transition: all .5s ease-in-out;
}

.navigation.active {
    transform: translateX(0%);
}

.navigation ul,
.nav-footer ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-block: auto;
}

.hamburger,
.close,
li,
.social-icon,
.logo,
.cta,
.card {
    cursor: pointer;
}

li,
.social-icon,
.card {
    position: relative;
}

li::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    transform: translateX(50%) scale(0);
    width: 50%;
    height: 2px;
    background-color: var(--White);
    transition: all .5s ease-in-out;
}

.title-container {
    border: 2px solid var(--White);
    margin-block: auto;  
}

.title {
    color: var(--White);
    font-size: 2.5rem;
    padding: 1.5rem;
    line-height: 1.1;
}

main {
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.vr-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.vr-content h2 {
    color: var(--Black);
    font-size: 1.8rem;
    line-height: 1;
}

.vr-content p {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--Dark-Gray);
    margin-top: 1rem;
    padding-inline: 1rem;
}

.creations {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.creations h2 {
    color: var(--Black);
    font-size: 1.8rem;
}

.cta {
    grid-row-start: 3;
    color: var(--Black);
    border: 2px solid var(--Black);
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 3px;
    text-align: center;
    padding: .5rem;
    width: 170px;
    transition: all .5s ease-in-out;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 1rem;
}

.card {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.card picture {
    filter: brightness(70%);
    transition: all .5s ease-in-out;
}

.headline {
    position: absolute;
    top: 45%;
    left: 1.5rem;
    color: var(--White);
    z-index: 1;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.headline span {
    display: block;
}

footer {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    background-color: var(--Black);
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.nav-footer ul{
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 2rem;
    font-size: inherit;
    text-transform: capitalize;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social-icon::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: var(--White);
    transition: all .5s ease-in-out;
}

.right-footer span {
    color: var(--Very-Dark-Gray);
}

@media (min-width: 577px) {
    .title {
        font-size: 3.2rem;
    }
}

@media (min-width: 769px) {
    .title {
        font-size: 3.7rem;
    }
    header {
        padding: 4rem 3rem;
    }
}

@media (min-width: 993px) {
    header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-hero.jpg") no-repeat;
        background-size: cover;
        padding: 4rem 7rem;
        height: auto;
    }

    .hamburger,
    .nav-top {
        display: none;
    }

    .navigation {
        transform: translateX(0);
        position: static;
        background-color: transparent;
        padding: 0;
    }

    .navigation ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        font-size: 1rem;
        text-transform: capitalize;
    }

    .top-header .logo {
        width: 100%;
    }

    .title-container {
        margin-top: 7rem;
        margin-bottom: 4rem;
        width: min(70%,800px);
    }

    .title {
        font-size: 4rem;
        padding: 2rem;
    }

    main {
        padding: 7rem;
        padding-bottom: 8rem;
        gap: 9rem;
    }

    .vr-section {
        flex-direction: row;
        justify-content: normal;
        align-items: normal;
        position: relative;
        text-align: start;
    }

    .vr-content {
        position: absolute;
        bottom: -0.1rem;
        right: 0;
        background-color: var(--White);
        width: 50%;
        padding: 5rem 2rem 0 5rem;
    }

    .vr-content h2 {
        font-size: 2.1rem;
    }

    .vr-content p {
        padding: 0;
    }

    .creations {
        grid-template-columns: 1fr 1fr;
        place-items: initial;
    }

    .creations h2 {
        align-self: center;
        font-size: 3rem;
    }

    .cta {
        grid-row-start: 1;
        grid-column-start: 2;
        place-self: end;
    }

    .grid-container {
        grid-column: span 2;
        grid-template-columns: repeat(auto-fit, minmax(256px,1fr));
        place-items: center;
    }

    .headline {
        left: 2rem;
        top: 80%;
        font-size: 2rem;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding-inline: 10rem;
    }

    .nav-footer ul{
        flex-direction: row;
    }

    .socials {
        justify-content: flex-end;
        margin-bottom: 2rem;
    }

}

@media (min-width: 1201px) {
    header {
        padding: 5rem 10rem;
    }

    .title-container {
        margin-top: 7rem;
        margin-bottom: 4rem;
        width: min(55%,800px);
    }

    .title {
        font-size: 4.2rem;
        padding: 2.5rem;
    }

    main {
        padding: 10rem;
        padding-bottom: 11rem;
    }

    .vr-content h2 {
        font-size: 2.7rem;
    }
}

@media (hover:hover) and (pointer:fine) {
    li:hover::before {
        transform: translateX(50%) scale(1);
    }

    .social-icon:hover::before {
        transform: scale(1);
    }

    .cta:hover {
        background-color: var(--Black);
        color: var(--White);
    }

    .card:hover picture{
        opacity: 0.3;
    }

    .card:hover .headline{
        color: var(--Black);
    }

}


